<header>
    <ul>
        <li id = "nav"><a href = "/">Home</a></li>
        <li id = "nav"><a href = "/about">About</a></li>
        <li id = "nav"><a href = "/projects">Projects</a></li>

    </ul>
</header>